# ~/.ssh/config.d/10-github
# GitHub SSH 設定

Host github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/github
    IdentitiesOnly yes

Host github-personal
    HostName github.com
    User git
    IdentityFile ~/.ssh/github
    IdentitiesOnly yes

# GitHub Enterprise（必要な場合）
# Host github.company.com
#     HostName github.company.com
#     User git
#     IdentityFile ~/.ssh/github-work
#     IdentitiesOnly yes
