# ~/.config/gh/config.yml
# GitHub CLI 設定

git_protocol: ssh
editor: nvim
prompt: enabled
pager: delta

aliases:
  co: pr checkout
  pv: pr view
  pc: pr create
  pl: pr list
  rv: repo view
  rc: repo clone
  rl: repo list
  il: issue list
  iv: issue view
  ic: issue create
